<footer>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/footer.css">
    <h3 class="f"><div>This Page os still under-developed. Please stay tuned for upcoming updates.</div> &nbsp <div>This Page os still under-developed. Please stay tuned for upcoming updates.</div></h3>
</footer>