<header>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/header.css">
    <h3 class="h">Header</h3>
</header>
<nav class="nav-panel">
    <div class="nav-head">
        <a href="/">HOME</a>
    </div>
    <div class="nav-container">
        <a class="tag" href="/maps">MAP</a> |
        <a class="tag" href="/maps/demo">Demo Map</a> |
        <a class="tag" href="/maps/my-map">my Map</a> |
        <a class="tag" href="/about">About</a>
    </div>
</nav>