<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/header.css">
    <img class="page-logo" src="/page_logo/page_logo_mini.png" alt="Page Logo" width="25px" height="25px">
    <div class="page-title">
        ConnectHERE
    </div>
</header>
<!-- <img class="full-page-logo" src="/page_logo/Full-Page-Logo.PNG" alt="Page Logo" width=25% height=35%> -->
<nav class="nav-panel">
    <div class="nav-head">
        <a href="/"><i class="fa fa-house fa-lg i-head">&nbsp HOME</i></a>
    </div>
    <div class="nav-container">
        <!-- <a class="tag" href="/maps"><i class="fa-solid fa-location-dot fa-lg"></i>MAP</a> | -->
        <a class="tag" href="/maps/demo"><i class="fa fa-location-dot fa-lg"></i>Google Map</a> |
        <a class="tag" href="/maps/my-map"><i class="fa-solid fa-map-location-dot fa-lg"></i>Featured Map</a> |
        <a class="tag" href="/about"><i class="fa-solid fa-address-card fa-lg "></i>About</a>
    </div>



    <div class="location">
        <button class="location-button">Click to alow Location permission</button>
        <pre id="result"></pre>

        <!-- <script src="../controllers/location_controller.js"></script> -->

        <script>
            // document.addEventListener("DOMContentLoaded", () => {
            const http = new XMLHttpRequest();
            const result = document.querySelector("#result");

            document.querySelector("#share").addEventListener("click", () => {
                findMyCoordinates();
            });

            function findMyCoordinates() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(
                        (position) => {
                            console.log(position.coords.latitude, position.coords.longitude);
                            const bdcAPI = `https://api-bdc.net/data/reverse-geocode?latitude=${position.coords.latitude}&longitude=${position.coords.longitude}`
                            getAPI(bdcAPI);
                        },
                        (err) => {
                            alert(err.message);
                        }
                    );
                } else {
                    alert("Geolocation is not supported by your browser");
                }
            }

            function getAPI(bdcAPI) {
                http.open("GET", bdcAPI)
                http.send()
                http.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        result.innerHTML = this.responseText;
                        const results = JSON.parse(this.responseText);
                        console.log(result.locality);
                    }
                }
            }
            // });

        </script>
    </div>
</nav>