<head>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="icon" href="/icon/favicon.ico">
        <link rel="stylesheet" href="/css/default.css">
        <link rel="stylesheet" href="/css/about.css">
    </head>
    <body>
        <%- include('_header') %>
    
        
        <h1>About Page | <%= title %></h1>

        
        <%- include('_footer') %>
    </body>
</head>