<!DOCTYPE html>
<head>
    <head>
        <title>
            ConnectHERE - <%= title %>
        </title>
        <link rel="icon" href="/page_logo/page_logo_rounded.png">
        <link rel="stylesheet" href="/css/default.css">
        <link rel="stylesheet" href="/css/about.css">
    </head>
    <body>
        <%- include('_header') %>
    
        
        <h1>About Page | <%= title %></h1>
        <div class="center-align">
            <img src="/images/about.jpg" alt="A picture stating `We will find your Charging Station`">
        </div>

        
    </body>
</head>