<head>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>

    <body>
        <%- include('_header') %>
        <nav class="nav-panel">
            <div class="nav-head">
                HOME BAR
            </div>
            <div class="nav-container">
                <a class="tag" href="">One</a> |
                <a class="tag" href="">Two</a> |
                <a class="tag" href="">Three</a> |
                <a class="tag" href="">Four</a>
            </div>
        </nav>


        <h1>Home Page | <%= title %></h1>

        
        <%- include('_footer') %>
    </body>
</head>