<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/default.css">
        <link rel="stylesheet" href="/css/mapBasic.css">
    </head>
    <body>
        <%- include('_header') %>

        <h3>
            HELLO THIS IS BASIC MAP PAGE
        </h3>

        <%- include('_footer') %>
    </body>
</html>