<html>
  <head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/myMap.css">
  </head>
  <body>
    <%- include('_header') %>

    <h3>My Main Google Maps</h3>

    <%- include('_footer') %>
  </body>
</html>