<html>
  <head>
    <title>
      ConnectHERE - <%= title %>
    </title>
    <link rel="icon" href="/icon/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/myMap.css">
  </head>
  <body>
    <%- include('_header') %>

    <!-- <ion-header [translucent]="true"> -->
    <ion-header>
      <ion-toolbar class="search-bar-container">
          <i class="fa fa-bars menu-btn"></i>
          <div class="search-area">
            <i class="fa fa-search search-btn"></i>
            <input class="search-bar" placeholder="Search Here">
          </div>

      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <h1>ion-Content</h1>
    </ion-content>

    <%- include('_footer') %>
  </body>
</html>