footer{
    background-color: rgba(0, 0, 0, 0.932);
}
.f{
    color: cyan;
    animation: color-swap 3s infinite;
    display: flex;
    justify-content: space-between;
}
@keyframes color-swap{
    25%{color:greenyellow;}
    25%{color: orangered;}
}