body {
	background: linear-gradient(-45deg, #c8ff00, #06eeff, #7cff6b, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	/* height: 100vh; */
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*  */

.top-container{
	background-image: url("/images/EV\ charging\ Station.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	opacity: 0.6;
	height: 800px;
}
.top-heading-container{
	text-align: center;
    color: darkblue;
	display: flex;
	justify-content: center;
}
.top-heading{
	margin: 1% 0%;
	border: solid 3px darkblue;
	border-radius: 10em;
	padding: 10px;
}
.left{
	animation: cl-change 3s infinite;
	background-color: aquamarine;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-right: 5px;
}
@keyframes cl-change{
	25%{color: red; border-color: red; background-color: cyan;}
	/* 25%{color:  gold;} */
}
.right{
	background-color: darkblue;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	color: rgba(107, 208, 255, 0.69);
	padding-right: 25px;
}

.top-description{
	zoom: 150%;
	display: flex;
	justify-content: center;
	margin-top: 8%;
	margin-bottom: 50px;
}

/*  */

.middle-container{
	height: 600px;
}
.middle-heading{
	zoom: 150%;
	color: teal;
	animation: simple 3s infinite;
}
@keyframes simple{
	25%{color: blueviolet; font-size: 200%;}
	25%{color: Blue; font-size:220%;}
}
.middle-img-details{
	display: flex;
	margin: 5% 10px 10% 4%;
}
.middle-first-img{
	/* margin: 5% 0% 4% 4%; */
	border: solid 10px white;
	border-radius: 30px;
	box-shadow: 8px 5px 15px black;
}
.middle-first-img:hover{
	box-shadow: 14px 10px 20px black;
}
.middle-feature{
	font-size: 140%;
	color: red;
	border: solid 3px white;
	border-radius: 20px;
	background-color: #c8ff00;
	box-shadow: 5px 3.5px 8px black;
	margin-right: 1%;
}
li.items{
	color: black;
	margin: 5% 1% 1% 0.5%;
	font-size: 140%;
	border: solid 2px white;
	border-radius: 20px;
	background-color: #c8ff00;
	padding:  10px;
	text-align: justify;
	box-shadow: 6px 4px 11px black;
}
li.items:hover{
	color:blue;
	box-shadow: 14px 10px 20px black;
}

/*  */

.bootom-container{
	display: flex;
	justify-content: space-between;
}

.bottom-left{
	background-image: url("/images/charging\ EV\ cartoon.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 636px;
	height: 318px;
	opacity:0.8;
	border-top-right-radius: 60px;
}
.bottom-right{
	margin-left: 5px;
	width: 710px;
}
.bottom-right-heading{
	color: blue;
	animation: color-change 2s infinite;
}
@keyframes color-change{
	25%{color: teal;}
	25%{color: red;}
}
.bottom-right-heading:hover{
	zoom:110%;
}
.bottom-circle{
	border: solid 5px white;
	border-radius: 100%;
}
.bottom-circle:hover{
	zoom: 105%;
}
.bottom-last{
	padding-top: 20px;
	display:flex;
	justify-content: space-around;
}