body{
    margin:0%;
    background-color: rgb(115 206 255 / 66%);
}
h1{
    text-align: center;
    background-color: rgb(5, 241, 170);
    color: teal;
}
.nav-panel{
    margin:0%;
    color:aqua;
    background-color: rgb(39, 39, 39);
    padding: 12px 0px 11px;
    display: flex;
}
.nav-panel:hover{
    color: rgb(0, 212, 212);
    background-color: rgb(29, 29, 29);
}
.nav-head{
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 10px;
    border-style: solid;
    border-width: 0px 2px 0px 0px;
}
/* .nav-container{
    margin-left: 10%;
    margin-right: 20%;
} */
a{
    text-decoration: none;
}
.tag{
    text-align: center;
    font-display:auto;
    font-weight:700;
    color: antiquewhite;
    padding: 7px 35px;
    margin: 0px 5px;
    border-radius: 30px;
}
.tag:hover{
    color: aquamarine;
    background-color: rgb(14, 14, 14);
}